@page "/map"
@inject IController controller
@inject IModel model

<h5>Text to search:</h5>

<RadzenTextBox Name="searchText" @bind-Value=@model.SearchText Style="width: 160px" />

<RadzenButton Icon="search" Text="Search" Click=@controller.SearchNodesAsync Style="width: 160px" />

<h5 style="margin-top: 16px">Nodes</h5>

<RadzenListBox Name="nodeList" Data=@model.DoctorList TValue="DoctorCabinet" SelectedItem=@model.SelectedDoctor Style="width: 324px; height: 240px">
  <Template Context="nodeData">
    @nodeData.Id at (@nodeData.Position.X,@nodeData.Position.Y)
  </Template>
</RadzenListBox>

<RadzenMenu>

  
</RadzenMenu>


@code {
  private IController controller_ = ControllerFactory.GetController( new EventDispatcher( ) );

  protected override async Task OnInitializedAsync( )
  {
    IModel model1 = controller_.Model;

    IModel model2 = controller.Model;

    IModel model3 = model;
  }
}
